@media (max-width: 576px) {
  .container-fluid {
    padding: 0px 10px;
    width: 100%;
  }
  .my-icon-nav {
    display: flex;
    position: fixed;
    right: 70px;
    gap: 10px;
    top: 3px
  }
    .navbar-toggler:focus{
      box-shadow: none!important;outline: none!important
    }
    .navbar a{
      font-size: 24px!important;padding-top: 5px;;font-weight: 600
    }
    .navbar-collapse{
      padding: 20px 0px
    }
  .logo{
    width: 115px;
  }
  .hero-video h2{
    font-size: 16px;
  }

  .navbar-toggler {
    padding: 5px 10px;
    font-size: 13px;
  }
  .section-4 {
    flex-direction: column;
    height: fit-content;
  }
  .section-4-image1 {
    width: 100%;
    border: none;
  }
  .section-4-text-1 {
    position: relative;
    margin-top: 445px;
  }
  .section-4-image2 {
    width: 100%;
    border: none;
    margin-top: 10px;
  }

  .section-4-text-2 {
    position: relative;
  }
  .section-4-image3 {
    width: 100%;
    border: none;
  }
  .section-4-image4 {
    width: 100%;
    border: none;
    margin-top: 10px;
  }
  .section-4-image5 {
    width: 100%;
    border: none;
  }
  .section-4-image6 {
    width: 100%;
    border: none;
    margin-top: 10px;
  }
  .section-4-text-1 {
    width: 100%;
  }
  .section-4-text-2 {
    width: 100%;
  }
  .section-4-text-3 {
    width: 100%;
  }
  .section-4-text-4 {
    width: 100%;
  }
  .section-4-text-5 {
    width: 100%;
  }
  .section-4-text-6 {
    width: 100%;
  }
  .secondlast {
    padding: 25px 10px;
    margin-top: 0px;
  }
  .lastfootparent {
    padding: 40px 55px 10px 10px;
  }
}

@media (max-width: 784px) {
  .accordion {
    display: unset;outline: none;border: none;box-shadow: none;
  }
  .accordion-button:focus{
    box-shadow: none!important
  }
  .accordion.active{
    background: red!important 
  }
  .accordion:focus{
    outline: none;border: none;box-shadow: none
  }
  .accordion:active{
    outline: none;border: none;box-shadow: none
  }
  .navbar-toggler{
  position: relative;left: -10px;background-color: rgb(92, 81, 81)!important;
  }
  .navbar-toggler:active{
    box-shadow: none!important;outline: none!important
  }
  .navbar-toggler:focus{
    box-shadow: none!important;outline: none!important
  }
  .navbar a{
    font-size: 24px!important;padding-top: 5px;
  }
  .navbar-collapse{
    padding: 20px 0px
  }
  .my-icon-nav {
    display: flex;
    position: fixed;
    right: 70px;
    gap: 10px;
    top: 3px
  }
  .hero-video{
    position: absolute;bottom: 30px;color: #fff;width: 100%;text-align: center;text-transform: capitalize
  }
  .hero-video h2{
    font-size: 24px;
  }
  .logo{
    width: fit-content;height: 50px;position: relative;top: 10px
  }
  .section-2 h1{
    font-size: 28px
  }
  .section-2 h2{
    font-size: 25px
  }
  .section-2-text h1{
    font-size: 28px
  }
  .section-3-text h2{
    font-size: 25px
  }
  .section-4 h2{
    font-size: 28px
  }
  .section-4 h3{
    font-size: 20px
  }

  
  .section2-links a{
    font-size: 17px
  }
  .secondlast {
    padding: 30px 10px;
    margin-top: 20px;
    margin: 0px;
  }
  .nav-hide{
    display:none
  }
  .myimagecaraousal {
    height: 365px!important;
  }
  
  .lastfootparent {
    padding: 40px 55px 10px 10px;
  }
  .container-fluid {
    width: 100%;
  }
  .my-icon-nav {
    display: flex;
    position: absolute;
    right: 70px;
    gap: 10px;
  }
  .navbar-toggler {
    padding: 5px 10px;
    font-size: 13px;
  }
  .section-4-text-5 h3 {
    width: fit-content;
  }
  .section-4-text-6 h3 {
    width: fit-content;
  }
}
@media (min-width: 784px) and (max-width: 991px) {
  .container-fluid {
    padding: 0px 10px;
    width: 100%;
  }
  .my-icon-nav {
    display: flex;
    position: fixed;
    right:70px; 
    gap: 10px;
    top: 2px
  }
  .navbar-toggler:focus{
    box-shadow: none!important;outline: none!important
  }
  .navbar a{
    font-size: 24px!important;padding-top: 5px;;font-weight: 600
  }

  .navbar-collapse{
    padding: 20px 0px
  }
  .navbar-toggler {
    padding: 5px 10px;
    font-size: 13px;
  position: relative;left: -10px;background-color: rgb(92, 81, 81)!important;
  
  }
  .section-4-text-5 h3 {
    width: fit-content;
  }
  .section-4-text-6 h3 {
    width: fit-content;
  }
  .secondlast {
    padding: 25px 15px;
    margin-top: 20px;
    margin: 0px;
  }
  footer {
    padding: 40px 20px;width: 100%
  }
  .lastfootparent {
    padding: 40px 20px;
  }
}
@media (max-width:450px){
  .hero-video h2{
    font-size: 16px;
  }
  .logo{
    width: 115px
  }

  .button {
    padding: 2px 14px;margin-top: 2px}
    .hero-video{
      position: absolute;bottom: 15px;}
}
@media (min-width:580px) and (max-width:784px){
  .my-icon-nav {
    display: flex;
    position: fixed;
    right: 70px;
    gap: 10px;
    top: 3px
  }
}
@media(min-width:991px) and (max-width:1240px){
  .accordion{
    width: 76%;
    margin: auto;
    
}
  
}